.entry-box {
    display: flex;
    justify-content: space-between;
    max-width: 85.625em;
    margin: 0 auto;

    .entry-media {
        video {
            max-width: 100%;
            border-radius: 1em;
        }

        img {
            max-width: 100%;
        }

        @media screen and (max-width: $breakpoint-large) {
            margin-top: 3em;
        }
    }

    .entry-media + .entry {
        margin-left: 5.375em;
    }

    .entry + .entry-media.video {
        margin-left: 2em;
    }

    @media screen and (max-width: $breakpoint-large) {
        flex-wrap: wrap;

        .entry-media video,
        .entry-media img {
            max-width: 100%;
        }
    }

    @media screen and (max-width: $breakpoint-medium) {
        .entry-media + .entry {
            margin-left: 0;
        }

        .entry-header,
        .entry-content {
            text-align: center;
        }
    }
}

.entry {
    max-width: 36.5em;

    @media screen and (max-width: $breakpoint-medium) {
        .cta-group {
            text-align: center;
        }
    }
}

.entry-header {
    .title {
        color: #01996D;
        font-weight: 700;
        font-size: 3.125em;
        font-family: Georgia, "Bitstream Charter", "URW Bookman L", serif;
        margin-bottom: 0.4em;
    }

    .subtitle {
        color: #424242;
        font-weight: 600;
        font-size: 1.5625em;
        font-family: 'Lato', sans-serif;
        margin-bottom: 1.44em;
    }

}

.entry-content {
    color: #484848;
    font-size: 1.25em;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
}

.entry-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .entry-item {
        flex-basis: calc((100% / 3) - 3.9375em);

        &:nth-child(2) {
            margin-top: 18em;
        }
    }

    .entry-item-header {
        font-family: Georgia, "Bitstream Charter", "URW Bookman L", serif;
        position: relative;
        margin-bottom: 0.625em;
    }

    .entry-item-title {
        font-weight: 700;
        color: #000;
        font-size: 1.875em;
        font-family: inherit;
        position: absolute;
        bottom: 0.875em;
        left: 2.875em;
        margin: 0;
    }

    .entry-item-subtitle {
        color: rgba(1, 153, 109, 0.2);
        font-size: 9.375em;
        font-family: inherit;
    }

    .entry-item-content {
        font-weight: 500;
        font-size: 1.25em;
        font-family: 'Lato', sans-serif;
    }

    .entry-item-image {
        border-radius: 0.75em;
        margin-top: 3.75em;
    }

    // 940 and 1298px
    @media screen and (min-width: 58.75em) and (max-width: 81.125em) {
        .entry-item {
            flex-basis: calc((100% / 2) - 1em);
        }

        .entry-item:nth-child(2) {
            margin-top: 27em;
        }

        .entry-item:nth-child(3) {
            margin-top: -18em;
        }
    }

    @media screen and (max-width: 58.74em) {
        flex-direction: column;
        align-items: center;
        flex-basis: 20em;

        .entry-item {
            max-width: 24.375em;
        }

        .entry-item:nth-child(2) {
            margin-top: 0;
        }
    }

    @media screen and (max-width: $breakpoint-small) {
        .entry-item-image {
            width: 100%;
        }

        .entry-item-title {
            left: 0;
            bottom: -0.125em;
        }
    }
}

.header-full-width {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;

    .header-titles {
        max-width: 36.5em;
    }

    .title {
        font-size: 3.125em;
        color: #01996D;
        font-family: Georgia, "Bitstream Charter", "URW Bookman L", serif;
    }

    .subtitle {
        font-size: 1.5em;
        color: #424242;
        font-weight: 600;
        font-family: 'Lato', sans-serif;
        // margin-bottom: 0.416em;
        display: block;
    }

    .header-content {
        font-family: 'Lato', sans-serif;
        font-size: 1.25em;
        color: #424242;
        font-weight: 500;
        max-width: 33.55em;
    }

    @media screen and (max-width: 81.125em) {
        .header-titles,
        .header-content {
            max-width: 100%;
        }
    }

    @media screen and (max-width: $breakpoint-small) {
        text-align: center;
    }
}